node_modules/
.vs/YohanPortfolio/FileContentIndex/830deb9d-6636-4e0f-a5e7-a06a5cf14e46.vsidx
.vs/YohanPortfolio/FileContentIndex/057aa4ab-a167-4997-bbd0-b04db4f31490.vsidx
.vs/YohanPortfolio/FileContentIndex/9cda5264-f5fe-4a85-b244-4e5814e2c8f8.vsidx
.vs/YohanPortfolio/FileContentIndex/edab5607-42b6-4039-9be2-01ce89b44ce2.vsidx
.vs/YohanPortfolio/FileContentIndex/a41e143e-822c-4cdd-b649-81395549df4c.vsidx
